<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{actions.heading}"></title>
</head>
<body>
<div class="container-background bg-colored bg-gray" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 th:text="#{actions.heading}"></h1>
                <h2 th:text="#{actions.steps.login.header}"></h2>
                <p th:utext="#{actions.steps.login.description}"></p>
                <h2 th:text="#{actions.steps.review.header}"></h2>
                <p th:utext="#{actions.steps.review.description}"></p>
                <h2 th:text="#{actions.steps.creation.header}"></h2>
                <p th:utext="#{actions.steps.creation.description}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>