<html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head th:fragment="generalHead">
            <meta charset="utf-8">
            <title>Alma-Anmeldung</title>
            <base href="/">
            <meta name="viewport" content="width=device-width,initial-scale=1">
            <link rel="icon" type="image/x-icon" href="favicon.ico">
            <link type="text/css" th:rel="stylesheet"  th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.css} "/>
            <link type="text/css" th:rel="stylesheet"  th:href="@{webjars/primeng/6.1.4/resources/primeng.css} "/>
            <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css"/>
        </head>
<body>

<div th:fragment="jumbotron" class="jumbotron">
    <div class="container">
        <h1><i>Lib</i>:Intel</h1>
    </div>
</div>

<div class="container">
</div>

<footer th:fragement="footer" class="footer">
    <div class="footer-copyright text-center py-3">
        <a href="https://www.uni-due.de/ub/dsgvo.php#email/">Datenschutz an der UB</a>
    </div>
</footer>
</body>
</html>