<!DOCTYPE html>
<html th:lang="${#locale}" layout:decorate="~{|layout_${#locale}|}" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{index.heading}"></title>
</head>
<body>
<div class="container-background bg-colored bg-gray" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col">
                    <h1 th:text="#{index.heading}"></h1>
                <p th:utext="#{index.description}"></p>
                    <form th:action="@{/secure/review}" method="get">
                        <br/>
                        <input type="submit" class="btn btn-primary" th:value="#{index.register.member}" />
                    </form>
                <form th:action="@{/register}" method="get">
                    <br/>
                    <input type="submit" class="btn btn-primary" th:value="#{index.register.extern}"/>
                </form>
                <p><span th:text="#{success.shibboleth.login.necessary}"></span></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>