<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{index.heading}"></title>
</head>
<body>
<div class="container-background bg-colored bg-gray" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col">
                    <h1 th:text="#{index.heading}"></h1>
                    <form th:action="@{/secure/review}" method="get">
                        <p th:utext="#{index.description}"></p>
                        <br/>
                        <input type="submit" class="btn btn-primary" th:value="#{index.submit.value}" value="Registrieren"/>
                    </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>