<!DOCTYPE html>
<html lang="en" layout:decorate="~{|layout_${#locale}|}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{success.heading}"></title>
</head>
<body>
<div class="container-background bg-colored bg-gray" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 th:text="#{successful.registration.heading}"></h1>
                <p th:utext="#{successful.registration.description}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="https://www.uni-due.de/ub/abisz/anmeldung.php">
                    <button class="btn btn-primary" th:text="#{information.for.activation}"></button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>