<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{confirmation.email.title}">Herzlich Willkommen an der Universitätsbibliothek
        Duisburg-Essen</title>
    <style>
        table, th, td {
            text-align: left;
            font-weight: normal;
        }

        .caption {
            font-weight: bold;
        }

        .text {
            color: black;
        }

        .title {
            color: #004c93
        }
    </style>
</head>
<body>
<h1 class="title" th:text="#{confirmation.email.title}">
    Herzlich Willkommen an der Universitätsbibliothek Duisburg-Essen
</h1>
<div class="text">
    <p th:case="MALE">
        <span th:text="#{confirmation.email.salutation.male}">Sehr geehrter Herr</span> <span
        th:text="${title}"></span> <span th:text="${lastname}"></span>
    </p>
    <p th:case="FEMALE">
        <span th:text="#{confirmation.email.salutation.female}">Sehr geehrte Frau</span> <span
            th:text="${title}"></span> <span th:text="${lastname}"></span>
    </p>
    <p th:case="OTHER">
        <span th:text="#{confirmation.email.salutation.other}">Sehr geehrte*r </span> <span
            th:text="${title}"></span> <span th:text="${firstname}"></span> <span th:text="${lastname}"></span>
    </p>
</div>
<p th:text="#{confirmation.email.welcome.long}">Wir freuen uns, dass Sie sich an der Universitätsbibliothek
    Duisburg-Essen angemeldet haben.</p>
<p th:text="#{confirmation.email.documents}"> Bitte beachten Sie: Um alle Dienste der Bibliothek zu können, benötigen Sie einen Bibliotheksausweis. Diesen erhalten Sie an einer unserer Ausleihtheken. Legen Sie dort bitte Ihren Personalausweis vor.
    Sollten Sie keinen Personalausweis besitzen, legen Sie bitte Ihren Reisepass und eine amtliche Meldebescheinigung
    vor.</p>
<p th:if="${isMinor}"><span th:text="#{confirmation.email.documents.minor}"> Außerdem benötigen Sie eine unterschriebene Einverständniserklärung Ihres Erziehungsberechtigten und eine Kopie dessen/deren Personalausweises.</span>
</p>

<p th:text="#{confirmation.email.greeting}">Mit freundlichen Grüßen,</p>
<p th:text="#{confirmation.email.signature}">Ihre Universitätsbibliothek Duisburg-Essen</p>
</body>
</html>