<!DOCTYPE html>
<html lang="en" layout:decorate="~{|layout_${#locale}|}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{register.heading}"></title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container-background bg-colored bg-gray" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 th:text="#{register.heading}"></h1>
                <form th:action="@{register}" th:object="${registrationRequest}" method="post" autocomplete="on">
                    <p th:utext="#{register.description}"></p>
                    <fieldset>
                        <table class="table table-striped">
                            <tr>
                                <th>
                                    <label for="gender-input" th:text="#{gender}" class="form-control-label"></label>
                                </th>
                                <td>
                                    <select id="gender-input" th:field="*{gender}" required>
                                        <option value="" th:text="#{choose}"> Bitte auswählen</option>
                                        <option th:value="'FEMALE'" th:text="#{female}"></option>
                                        <option th:value="'MALE'" th:text="#{male}"></option>
                                        <option th:value="'OTHER'" th:text="#{divers}"></option>
                                        <option th:value="'NONE'" th:text="#{gender.none}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="title-input" th:text="#{title}" class="form-control-label"></label>
                                </th>
                                <td>
                                    <select id="title-input" th:field="*{title}">
                                        <option th:value="''" th:text="#{title.none}"></option>
                                        <option th:value="'DR'" th:text="#{title.dr}"></option>
                                        <option th:value="'PROF'" th:text="#{title.prof}"></option>
                                        <option th:value="'PROFDR'" th:text="#{title.prof.dr}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="firstName-input" th:text="#{first.name}" class="form-control-label"></label>
                                </th>
                                <td>
                                    <input id="firstName-input" type="text" size="30" class="text form-control notempty" autofocus
                                           required th:field="*{firstName}" th:placeholder="#{first.name}">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="lastName-input" th:text="#{last.name}" class="form-control-label"></label>
                                </th>
                                <td>
                                    <input id="lastName-input" type="text" size="30" class="text form-control notempty" required
                                           th:field="*{lastName}" th:placeholder="#{last.name}">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="userStatus-input" th:text="#{user.status}" class="form-control-label"></label>
                                </th>
                                <td>
                                    <select id="userStatus-input" th:field="*{userStatus}" required>
                                        <option value="" th:text="#{choose}"> Bitte auswählen</option>
                                        <option th:value="'06'" th:text="#{user.group.coworker.clinics}"></option>
                                        <option th:value="'23'" th:text="#{user.group.folkwang}"></option>
                                        <option th:value="'23'" th:text="#{user.group.uaruhr}"></option>
                                        <option th:value="'20'" th:text="#{user.group.pupil}"></option>
                                        <option th:value="'50'" th:text="#{user.group.other}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="road-input" th:text="#{road}" class="form-control-label"></label>
                                </th>
                                <td>
                                    <input id="road-input" type="text" size="30" class="text form-control notempty" required
                                           th:field="*{road}" th:placeholder="#{road}">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="plz-input" th:text="#{plz}" class="form-control-label"></label>
                                </th>
                                <td>
                                    <input id="plz-input" type="text" size="30" class="text form-control notempty" required
                                           th:field="*{plz}" th:placeholder="#{plz}">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="city-input" th:text="#{city}" class="form-control-label"></label>
                                </th>
                                <td>
                                    <input id="city-input" type="text" size="30" class="text form-control notempty" required
                                           th:field="*{city}" th:placeholder="#{city}">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="birthdate-input" th:text="#{birth.date}" class="form-control-label"></label>
                                </th>
                                <td>
                                    <input id="birthdate-input" type="date" th:field="*{birthDate}" required class="form-control notempty">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="email-input" th:text="#{email}" class="form-control-label"></label>
                                </th>
                                <td>
                                    <input id="email-input" type="email" size="30" class="text form-control notempty" required
                                           th:field="*{email}" th:placeholder="#{email}">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="pin-input" th:text="#{pin.number}" class="form-control-label"></label>
                                </th>
                                <td>
                                    <input id="pin-input" type="text" th:field="*{pinNumber}"
                                           th:placeholder="#{pin.number}" required pattern="\d{8}"
                                           th:title="#{pin.number.title}"/>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="password-input" th:text="#{password}" class="form-control-label"></label>
                                </th>
                                <td>
                                    <input id="password-input" type="password" size="30" class="text form-control notempty" required
                                           th:field="*{password}" th:placeholder="#{password}">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="password-repeat" th:text="#{password}" class="form-control-label"></label>
                                </th>
                                <td>
                                    <input id="password-repeat" type="password" size="30" class="text form-control notempty" required
                                           th:placeholder="#{password.repeat}">
                                </td>
                            </tr>
                        </table>
                        <div style="padding-left: 35px;" id="message">
                            <h3 th:text="#{password.must.have}">Password must contain the following:</h3>
                            <p id="letter" class="ui-password-invalid" th:text="#{password.letter}">A <b>lowercase</b>
                                letter</p>
                            <p id="capital" class="ui-password-invalid" th:text="#{password.capital}">A <b>capital
                                (uppercase)</b> letter</p>
                            <p id="number" class="ui-password-invalid" th:text="#{password.number}">A <b>number</b></p>
                            <p id="length" class="ui-password-invalid" th:text="#{password.length}">Minimum <b>8
                                characters</b></p>
                            <p id="repeat" class="ui-password-invalid" th:text="#{password.match}">Passwords
                                match</b></p>
                        </div>

                    </fieldset>
                    <div class="field fieldOption">
                        <div>
                            <input th:value="*{termsAccepted}" th:field="*{termsAccepted}" type="checkbox"
                                   name="termsAndConditions" id="termsAndConditions" required/>
                            <label th:utext="#{index.terms.label}" for="termsAndConditions"> </label>
                        </div>
                        <div>
                            <input th:value="*{privacyAccepted}" th:field="*{privacyAccepted}" type="checkbox"
                                   name="privacy" id="privacy" required/>
                            <label th:utext="#{index.privacy.label}" for="privacy"></label>
                        </div>
                        <label id="errors"/>
                    </div>
                    <div class="field fieldOption">
                        <strong>*</strong>: <span th:text="#{required.fields}"></span>
                    </div>

                    <input id="submit" disabled="true" type="submit" class="btn btn-primary"
                           th:value="#{register.register}"/>
                </form>
            </div>
        </div>
    </div>
    <!--/* from https://www.w3schools.com/howto/howto_js_password_validation.asp */-->
    <script>
        var passwordInput = document.getElementById("password-input");
        var passwordRepeat = document.getElementById("password-repeat");
        var repeat = document.getElementById("repeat");
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var length = document.getElementById("length");
        var submit = document.getElementById("submit");
        var repeat_bool = false;
        var letter_bool = false;
        var capital_bool = false;
        var length_bool = false;
        var number_bool = false;
        var total_bool = false;

        // When the user starts to type something inside the password field
        passwordInput.onkeyup = function () {
            // Validate lowercase letters
            var lowerCaseLetters = /[a-z]/g;
            letter_bool = passwordInput.value.match(lowerCaseLetters)
            if (letter_bool) {
                letter.classList.remove("ui-password-invalid");
                letter.classList.add("ui-password-valid");
            } else {
                letter.classList.remove("ui-password-valid");
                letter.classList.add("ui-password-invalid");
            }

            // Validate capital letters
            var upperCaseLetters = /[A-Z]/g;
            capital_bool = passwordInput.value.match(upperCaseLetters)
            if (capital_bool) {
                capital.classList.remove("ui-password-invalid");
                capital.classList.add("ui-password-valid");
            } else {
                capital.classList.remove("ui-password-valid");
                capital.classList.add("ui-password-invalid");
            }

            // Validate numbers
            var numbers = /[0-9]/g;
            number_bool = passwordInput.value.match(numbers)
            if (number_bool) {
                number.classList.remove("ui-password-invalid");
                number.classList.add("ui-password-valid");
            } else {
                number.classList.remove("ui-password-valid");
                number.classList.add("ui-password-invalid");
            }

            // Validate length
            length_bool = passwordInput.value.length >= 8
            if (length_bool) {
                length.classList.remove("ui-password-invalid");
                length.classList.add("ui-password-valid");
            } else {
                length.classList.remove("ui-password-valid");
                length.classList.add("ui-password-invalid");
            }
            total_bool = letter_bool && capital_bool && number_bool && length_bool && repeat_bool;
            if (total_bool) {
                submit.disabled = false;
            } else {
                submit.disabled = true;
            }
        }
        passwordRepeat.onkeyup = function () {
            repeat_bool = passwordInput.value === passwordRepeat.value
            if (repeat_bool) {
                repeat.classList.remove("ui-password-invalid");
                repeat.classList.add("ui-password-valid");
            } else {
                repeat.classList.remove("ui-password-valid");
                repeat.classList.add("ui-password-invalid");
            }
            total_bool = letter_bool && capital_bool && number_bool && length_bool && repeat_bool;
            if (total_bool) {
                submit.disabled = false;
            } else {
                submit.disabled = true;
            }
        }
    </script>
</div>


</body>
</html>