<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{review.heading}"></title>
</head>
<body>
<div class="container-background bg-colored bg-gray" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 th:text="#{review.heading}"></h1>
                <form th:action="@{/secure/create}" th:object="${almaUser}"></form>
                <p th:text="#{review.description}"></p>
                <div>
                    <input id="firstname" type="text" size="30" class="form-control" th:field="*{almaUser.firstName}">
                    <label for="firstname">  Vorname</label>
                </div>
                <div>
                    <input id="primaryId" type="text" size="30" class="form-control" th:field="*{almaUser.primaryId}">
                    <label for="primaryId"> ID </label>
                </div>
                <div>
                    <input id="fullName" type="text" size="30" class="form-control" th:field="*{almaUser.fullName}">
                    <label for="fullName"> ID </label>
                </div>
                <div>
                    <input id="email" type="text" size="30" class="form-control" th:field="*{almaUser.contactInfo.email[0].emailAddress}">
                    <label for="email">  <p>Ich habe die <a href="https://www.uni-due.de/ub/dsgvo_katalog.php">Datenschutzhinweise</a> zur Kenntnis genommen und bin damit einverstanden.<strong>*</strong></p></label>
                </div>
                <input type="submit" class="btn btn-primary" value="Die Daten sind korrekt"/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>