<!DOCTYPE html>
<html lang="en" layout:decorate="~{|layout_${#locale}|}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{review.heading}"></title>
</head>
<body>
<div class="container-background bg-colored bg-gray" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 th:text="#{review.heading}"></h1>
                <form th:action="@{/secure/review}" th:object="${registrationRequest}" method="post">
                    <p th:text="#{review.description}"></p>
                    <table class="table table-striped">
                        <tr>
                            <th>
                                <label for="title-input" th:text="#{title}"></label>
                            </th>
                            <td>
                                <select id="title-input" class="form-control" th:field="*{title}">
                                    <option th:value="''" th:text="#{title.none}"></option>
                                    <option th:value="'DR'" th:text="#{title.dr}"></option>
                                    <option th:value="'PROF'" th:text="#{title.prof}"></option>
                                    <option th:value="'PROFDR'" th:text="#{title.prof.dr}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="firstName" th:text="#{first.name}">Vorname</label>

                            </th>
                            <td th:text="*{firstName}"></td>
                            <input id="firstName" type="text" th:field="*{firstName}" th:value="*{firstName}" readonly="readonly" hidden>
                        </tr>
                        <tr>
                            <th>
                                <label for="lastName" th:text="#{last.name}">Name</label>
                            </th>
                            <td th:text="*{lastName}"></td>
                            <input id="lastName" type="text" th:field="*{lastName}" th:value="*{lastName}" readonly="readonly" hidden>
                        </tr>
                        <tr>
                            <th>
                                <label for="email" th:text="#{email}"> E-Mail</label>
                            </th>
                            <td th:text="*{email}"></td>
                            <input id="email" type="email" th:field="*{email}" th:value="*{email}" readonly="readonly"
                                   hidden>
                        </tr>
                        <tr>
                            <th>
                                <label for="primaryId" th:text="#{review.zim.id}">ZIM-ID</label>
                            </th>
                            <td th:text="*{primaryId}"></td>
                            <input id="primaryId" type="text" th:field="*{primaryId}" th:value="*{primaryId}"
                                   readonly="readonly" hidden>
                        </tr>
                        <tr>
                            <th>
                                <label for="userStatus" th:text="#{user.status}">Benutzerstatus</label>
                            </th>
                            <td th:text="#{'user.status.' + *{userStatus}}"></td>
                            <input id="userStatus" type="text" th:field="*{userStatus}" th:value="*{userStatus}"
                                   readonly="readonly" hidden>
                        </tr>
                        <tr>
                            <th>
                                <label for="cardNumber" th:text="#{review.cardnumber}">Kartennummer</label><strong>*</strong>
                            </th>
                            <td>
                                <input id="cardNumber" type="text" th:field="*{cardNumber}" th:value="*{cardNumber}" class="text form-control notempty" required>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="birthdate-input" th:text="#{birth.date}"></label><strong>*</strong>
                            </th>
                            <td>
                                <input id="birthdate-input" type="date" th:field="*{birthDate}" class="form-control" required>
                            </td>
                        </tr>
                        <tr th:if="*{userStatus.equals('06')}">
                            <th>
                                <label for="roomNumber-input" th:text="#{room.number}"><strong>*</strong></label>
                            </th>
                            <td>
                                <input id="roomNumber-input" type="text" size="30" class="text form-control notempty" required
                                       th:field="*{roomNumber}" th:value="*{roomNumber}" th:placeholder="#{room.number}">
                            </td>
                        </tr>
                        <tr th:if="*{userStatus.equals('06')}">
                            <th>
                                <label for="campus-input" th:text="#{campus}"></label><strong>*</strong>
                            </th>
                            <td>
                                <select id="campus-input" th:field="*{campus}" class="form-control" required>
                                    <option th:value="'Campus Essen'" th:text="#{essen}"></option>
                                    <option th:value="'Campus Duisburg'" th:text="#{duisburg}"></option>
                                    <option th:value="'FB Medizin'" th:text="#{klinikum}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="pin-input" th:text="#{pin.number}"></label><strong>*</strong>
                            </th>
                            <td>
                                <input id="pin-input" type="password" th:field="*{pinNumber}" class="text form-control notempty"
                                       th:placeholder="#{pin.number}" pattern="\d{8}"
                                       th:title="#{pin.number.title}" required/>
                            </td>
                        </tr>
                    </table>
                    <div class="field fieldOption">
                        <div>
                            <input th:value="*{termsAccepted}" th:field="*{termsAccepted}" type="checkbox"
                                   name="termsAndConditions" id="termsAndConditions" required/>
                            <label th:utext="#{index.terms.label}" for="termsAndConditions"> </label><strong>*</strong>
                        </div>
                        <div>
                            <input th:value="*{privacyAccepted}" th:field="*{privacyAccepted}" type="checkbox"
                                   name="privacy" id="privacy" required/>
                            <label th:utext="#{index.privacy.label}" for="privacy"></label><strong>*</strong>
                        </div>
                    </div>
                    <input id="externalId" type="text" th:field="*{externalId}" th:value="*{externalId}" hidden>
                    <input id="matrikelNumber" type="text" th:field="*{matrikelNumber}" th:value="*{matrikelNumber}" hidden>
                    <input type="submit" class="btn btn-primary" value="Die Daten sind korrekt"/>
                    <div class="field fieldOption">
                        <strong>*</strong>: <span th:text="#{required.fields}"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>