<!DOCTYPE html>
<html lang="en" layout:decorate="~{|layout_${#locale}|}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{success.heading}"></title>
</head>
<body>
<div class="container-background bg-colored bg-gray" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 th:text="#{success.heading}"></h1>
                <p th:utext="#{success.description}"></p>
            </div>
        </div>
        <div th:switch="${userGroup}" class="row">
            <div th:case="'01'" class="col">
                <a th:href="${redirectUrl}">
                    <button class="btn btn-primary" th:text="#{success.to.primo}"></button>
                </a>
                <p><span th:text="#{success.shibboleth.login.necessary}"></span></p>
            </div>
            <div th:case="'06'" class="col">
                <a th:href="${redirectUrl}">
                    <button class="btn btn-primary" th:text="#{success.to.primo}"></button>
                </a>
                <p><span th:text="#{success.shibboleth.login.necessary}"></span></p>
            </div>
            <div th:case="'20'" class="col">
                <p>
                    <span th:text="#{success.documents.necessary.minors}"></span>
                </p>
            </div>
            <div th:case="'22'" class="col">
                <p>
                    <span th:text="#{success.documents.necessary}"></span>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>