        Der Nutzer <span th:utext="${firstname}"></span> <span th:utext="${lastname}"></span> hat sich gerade angemeldet.
    </p>
    <p>
        Die ID <span th:utext="${dublicatedId}"></span> vom Typ <span th:utext="${dublicatedIdType}"></span> ist bereits im System vorhanden.
    </p>
</div>

<p th:text="#{confirmation.email.greeting}">Mit freundlichen Grüßen,</p>
<p th:text="#{confirmation.email.signature}">Ihre Universitätsbibliothek Duisburg-Essen</p>

<p>
    Dies ist eine automatisch generierte Mail.
</p>
</body>
</html>